<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%-d{HH:mm:ss}] %p [%t] %c{10}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <appender name="FILE"
              class="org.apache.log4j.DailyRollingFileAppender">

        <param name="File" value="logs/InterfaceDemo.log"/>
        <param name="Append" value="true"/>
        <!--param name="Threshold" value="info" /-->

        <!--   Rollover   at   midnight   each   day   -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%-d{HH:mm:ss}] %p [%t] %c{5}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="Info"/>
<!--        <appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>